@import '../colors.scss';

.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-weight: 400;

    &::before {
      content: '<h1>';
      font-size: 18px;
      font-family: 'La Belle aurore';
      position: absolute;
      left: 15px;
      top: -50px;
      color: $primary-color;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-size: 18px;
      font-family: 'La Belle aurore';
      position: absolute;
      color: $primary-color;
      opacity: 0.6;
      margin-top: 32px;
      margin-left: 20px;
    }

    img {
      width: 32px;
      opacity: 0;
      height: auto;
      margin-left: 20px;
      animation: rotateIn 1s linear both;
      animation-delay: 1.5s;
    }
  }
}

.flat-button {
  color: $primary-color;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid $primary-color;
  margin-top: 25px;
  display: inline-block;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
    background-color: $primary-color;
    color: #333;
  }
}